<div class="column">
    <%@posts.each do |post|%>
        <article class="message is-info">
            <div class="message-header">
                <%if user_signed_in?%>
                    <p><%= post.user.name %></p>
                    <%if current_user == post.user %>
                        <button class="delete" aria-label="delete"></button>
                    <%end%>
                <%else%>
                    <p>Sign in to view the author!</p>
                <%end%>
            </div>
            <div class="message-body">
                <p><%= post.body %></p><br>
                <p><%= post.created_at.to_s[0..15]%></p>
            </div>
        </article>
    <%end%>
</div>